<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# object: http://ogp.me/ns/object# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile#" >
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="x-dns-prefetch-control" content="on"/>
    <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">

    <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin="anonymous">
    <link rel="preconnect" href="//fonts.googleapis.com" crossorigin="anonymous">
    <link rel="preconnect" href="//fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preconnect" href="//www.google-analytics.com" crossorigin="anonymous">

    <link rel="subresource" href="{{ "/js/app.js" | prepend: site.baseurl }}">
    <link rel="subresource" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    {% if page.next %}<link rel="prerender" href="{{ page.next.url }}" />{% endif %}
    {% if page.previous %}<link rel="prerender" href="{{ page.previous.url }}" />{% endif %}

    <title>{% if page.title %}{{ page.title | escape }} | {% else %}{% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if page.previous %}<link rel="prev" href="{{ page.previous.url }}" title="{{ page.previous.title }}" />{% endif %}
    {% if page.next %}<link rel="next" href="{{ page.next.url }}" title="{{ page.next.title }}" />{% endif %}


    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <meta http-equiv="cleartype" content="on">

    <link rel="shortcut icon" href="{{ "/img/apple-touch-icon-57x57.png" | prepend: site.baseurl }}" type="image/x-icon">

    <meta name="mobile-web-app-capable" content="yes">

    <link rel="icon" sizes="192x192" href="img/touch/touch-icon-192x192.png">
    <link rel="icon" sizes="128x128" href="img/touch/touch-icon-128x128.png">

    <link rel="manifest" href="android-manifest.json">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{ site.title }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ "/img/apple-touch-icon-57x57.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ "/img/apple-touch-icon-72x72.png" | prepend: site.baseurl }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ "/img/apple-touch-icon-114x114.png" | prepend: site.baseurl }}">

    <meta name="generator" content="jekyll">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="1 DAYS">
    <meta name="author" content="{{ site.author }}" />
    <link rel="author" href="/about">
    <meta name="contact" content="pphagula+dareenzo.gihub.io@gmail.com" />
    <meta name="geography" content="Mozambique">

    <!-- twitter meta -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@dareenzo" />
    <meta name="twitter:creator" content="@dareenzo">
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

    <!-- opengraph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />

    <!-- SEO Property Combo -->
    <meta property="og:title" name="twitter:title" itemprop="title name" content="{% if page.title %}{{ page.title | escape }} | {% else %}{% endif %}{{ site.title }}" />
    <meta property="og:description" name="twitter:description" itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" name="twitter:image" itemprop="image primaryImageOfPage" content="{{ "/img/apple-touch-icon-114x114.png" | prepend: site.baseurl | prepend: site.url }}" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <meta name="google-site-verification" content="hXGNVG1mBEAHY0UFP_2RAzcWhzVKmQmWLbAtqPAafog" />

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <script type="text/javascript">
    (function(){
        var font = document.createElement('link');
        font.rel = "stylesheet";
        font.type = 'text/css';
        font.href = "//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&subset=latin";
        font.media = "none";
        font.onload =  function (e) {
            this.media = "all";
            document.getElementsByTagName("html")[0].className +=' fonts-loaded';
        };
        // IE < 9 doesn't have document.head
        document.getElementsByTagName('head')[0].appendChild(font);
    })();
    </script>
    <noscript><link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i&subset=latin'></noscript>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
    <![endif]-->
    <script>
        htmlElement = document.getElementsByTagName('html')[0];

        htmlElement.style.display  = 'none';
        htmlElement.className      = htmlElement.className.replace('no-js', 'js');
        htmlElement.style.overflow = 'hidden';
    </script>
</head>
