/*
.admonitionblock table
.admonitionblock table tbody td,
.admonitionblock table tbody tr:nth-child(2n+1) {
  // all: initial; // `revert` would be good here but only words in CSS 4
}

.admonitionblock table {
  width: 100%;
  overflow: auto;
}

.admonitionblock table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.admonitionblock table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
*/
/** AsciiDoc Admonitions */
span.icon>.fa {
  cursor: default;
}

.admonitionblock td.icon {
  text-align: center;
  width: 80px;
}

.admonitionblock td.content {
  width: 100%;
}

.admonitionblock td.icon [class^="fa icon-"] {
  font-size: 1.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  cursor: default;
}
.admonitionblock td.icon .icon-note:before {
  content: "\f05a";
  content: "📎";
  color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
  content: "\f0eb";
  content: "💡";
  text-shadow: 1px 1px 2px rgba(155,155,0,.8);
  color: #111;
}
.admonitionblock td.icon .icon-warning:before {
  content: "\f071";
  content: "⚠";
  color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
  content: "\f06d";
  content: "🔥";
  color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
  content: "\f06a";
  content: "❗";
  color: #bf0000;
}

pre .conum[data-value] {
    position: relative;
    top: -.125em;
}

.conum[data-value] {
    display: inline-block;
    color: #fff!important;
    background-color: rgba(0,0,0,.8);
    -webkit-border-radius: 100px;
    border-radius: 100px;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans","DejaVu Sans",sans-serif;
    font-style: normal;
    font-weight: bold;
}

.conum[data-value]+b {
    display: none;
}

.conum[data-value]::after {
    content: attr(data-value);
}

.hdlist>table, .colist>table {
    border: 0;
    background: none;
}

.hdlist>table>tbody>tr, .colist>table>tbody>tr {
    background: none;
}

.colist td:not([class]):first-child {
    padding: .4em .75em 0;
    line-height: 1;
    vertical-align: top;
}

.colist td:not([class]):last-child {
    padding: .25em 0;
}

.colist > table > tbody > tr,
.colist > table > tbody > tr > td {
  border: none;
}
