<!doctype html>
<html class="no-js">

{% include head.html %}

<body lang="en" dir="ltr">
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NCKZVZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NCKZVZ');</script>
    <!-- End Google Tag Manager -->

    <main>
        <section id="side">
            <article id="about">
                <a href="{{ site.baseurl }}/"><img src="{{ "/img/avatar.png" | prepend: site.baseurl}}" alt="{{ site.title }}" /></a>
                <h2>{{ site.title }}</h2>
                <p>personal blog about programming, hacking, open-source, startups, git, vim, linux, etc.</p>
                <p>
                    <a href="/about#services" title="Check out what I can do for you">#tech</a>
                    <a href="/about#work" title="Check out some of my work and projects">#craft</a>
                    <a href="https://github.com/dareenzo" title="Have a look at my code on github" target="_blank">#coding</a>
                    <a href="https://kodikos-io.github.io" title="Check out my Startup Kodikos" target="_blank">#startup</a>
                </p>
            </article>

            <nav>
                <ul>
                {% for page in site.pages %}
                    {% if page.title and page.title != "Search Results" %}
                    <li>
                    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>

            <ul class="social">
                <li class="w"><a href="tel:+258848504509" title="Add me on Whatsapp" target="_blank"></a></li>
                <li class="s"><a href="skype:pphagula?add" title="Add me on Skype" target="_blank"></a></li>
                <li class="t"><a href="https://twitter.com/dareenzo" title="Follow me on Twitter" target="_blank"></a></li>
            </ul>

            {% include search.html %}
            <footer><small>Copyright (c) 2014 - {{ site.time | date: '%Y' }}, {{ site.author }}<br/>Some rights reserved</small></footer>
        </section>

        <section id="content">
            {{ content }}
        </section>

        <div class="clearfix"></div>
    </main>

    <script type="text/javascript">
        (function(){
            var jsb = document.createElement('script');
            jsb.src = '{{ "/js/app.js" | prepend: site.baseurl }}';
            jsb.setAttribute('async', 'true');
            document.documentElement.firstChild.appendChild(jsb);
        })();
    </script>
    <script type="text/javascript">
        htmlElement.style.display  = 'block';
        htmlElement.style.overflow = '';
    </script>
</body>
</html>
