---
layout: default
---
{% assign sorted_tags = (page.tags | sort) %}
{% assign category = (page.categories | sort | limit1) %}
<article>
    <h1>{{ page.title }}</h1>
    <header class="excerpt">
        <meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}" />
        Posted on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %b %Y" }}</time>
        in <a>{{ category }}</a><br/>
        Tags:&nbsp;
        <ul class="tags no-list" style="display: inline">
        {% for tag in sorted_tags %}
        <li><a>{{ tag }}</a></li>
        {% endfor %}
        </ul>

        {% if page.excerpt %}
        <p>
        {{ page.excerpt }}
        </p>
        {% endif %}
    </header>

    {{ content }}
    <hr/>
    <div>
        <p>
            Share article on:
            <a title="Share article via Email" href="mailto:?subject={{ page.title }}&body={{ page.url | escape | prepend: site.baseurl | prepend: site.url | url_encode}}">Mail</a> -
            <a title="Share article on Twitter" target="_blank" href="https://twitter.com/intent/tweet?url={{ page.url | escape | prepend: site.baseurl | prepend: site.url | url_encode}}&text={{ page.title }}&via=dareenzo">Twitter</a> -
            <a title="Share article on Facebook" target="_blank" href="https://www.facebook.com/sharer.php?u={{ page.url | escape | prepend: site.baseurl | prepend: site.url | url_encode}}">Facebook</a>
        </p>
    <div>
    <hr/>
    <div>
        <div class="left">
        {% if page.previous %}
        <a href="{{ page.previous.url }}">&#65513; Previous Post</a>
        {% endif %}
        </div>

        <div class="right">
        {% if page.next %}
        <a href="{{ page.next.url }}">Next Post &#65515;</a>
        {% endif %}
        </div>
    </div>

    <div class="clearfix"></div>

    {% if content and page.related %}
        <h5>RELATED POSTS:</h5>
        <ul class="tags">
            {% for post in site.posts %}
                {% if page.related contains post.title or page.related contais post.url %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

    <hr />
    <div class="comments">
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to see the <a href="http://disqus.com/?ref_noscript">comments</a></noscript>
    </div>
</article>

{% include disqus.html %}
