name: notfoundbot
on:
  schedule:
    - cron: '0 13 * * MON'
  workflow_dispatch:
jobs:
  check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
      - name: Fix links
        uses: tmcw/notfoundbot@v3.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
